[Unit]
Description=蓝核AI智控台 系统托盘
Documentation=https://lanhc.com/kb/1597/linux-systray
Requires=dbus.service
After=dbus.service
PartOf=default.target

[Service]
Type=simple
ExecStart=/usr/bin/lanhc systray

[Install]
WantedBy=default.target
