[Desktop Entry]
Type=Application
Version=1.0
Name=蓝核AI智控台 系统托盘
Comment=蓝核AI智控台 托盘程序
Exec=/usr/bin/lanhc systray
TryExec=/usr/bin/lanhc
Terminal=false
NoDisplay=true
StartupNotify=false
Icon=lanhc
Categories=Network;System;
X-GNOME-Autostart-enabled=true
