[Unit]
Description=蓝核AI智控台 NGINX 认证服务
After=nginx.service
Wants=nginx.service

[Service]
ExecStart=/usr/sbin/lanhc.nginx-auth
DynamicUser=yes

[Install]
WantedBy=default.target
