[Unit]
Description=等待蓝核AI智控台上线
After=lanhcd.service
Requires=lanhcd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/lanhc wait
RemainAfterExit=yes

[Install]
WantedBy=lanhc-online.target
